body{
	margin: 0px;
	background: rgb(242, 242, 242);
}

#wrapper{
	width: 96%;
	border-radius: 8px;
	background-color: white;
	margin: 2%;
	box-shadow: 0px 0px 15px 3px rgb(221, 221, 221);
}
#toolbar{
	width: 100%;
	height: 60px;
	background-color: white;
	margin: none;
}

.searchButton{
	width: 40px;
	height: 40px;
	border-radius: 50px;
}
/* .searchButton > img */
#userIcon { 
	width: 35px;
	height: 35px;
	border-radius: 50px;
	margin-top: 12px;
	margin-right: 3px;
	margin-left: 3px;
	float: right;
	cursor: pointer;
}
#userId{
	padding-top: 10px;
	padding-right: 10px;
	color: black;
	display: inline-block;
	margin-top: 7px;
	margin-right: 7px;
	margin-left: 7px;
	float: right;
}
#logo{
	width: 200px;
	height: 60px;
}
/* icon */
.menu {
	width: 24px;
	height: 24px;
	float: right;
	padding-top: 17px;
	margin-right: 7px;
	cursor: pointer;
}
	
.searchBox {
  width: 15%;
  height: 25px;
  position: relative;
  padding-top: 17px;
  margin-right: 40px;
  float: right;
}

.searchTerm {
	border-style: none;
 	float: left;
	width: 90%;
	padding-left: 7px;
	height: 25px;
	border-radius: 5px 0px 0px 5px;
	outline: none;
	background-color: rgb(242, 242, 242);
	color: rgb(140, 140, 140);
}
.searchButton {
  position: absolute;  
  border: none;
  border-radius: 0px 5px 5px 0px;
  outline: none;
  width: 40px;
  height: 27px;
  background: rgb(242, 242, 242);
  text-align: center;
  cursor: pointer;
}

#searchImg{
	width: 20px;
	height: 20px;
	margin-top: 3px;
}






/* 疫꿸퀡�궚占쎌읅占쎌뵥 margin 占쎌읅占쎌뒠占쎌뱽 0px嚥∽옙 �뇡�슢�뵬占쎌뒭占쏙옙占쎈퓠 占쎈뎨 獄쏉옙筌△뫗�뻻占쎄텕占쎈즲嚥∽옙 */
html,body{
    width : 100%;
    margin : 0px; 
    background-color : rgb(244, 240, 234);
}
/* 筌롫뗀�뤀獄쏉옙 */
header{
    width : 100%;
    height : 40px;
    background-color : rgb(101, 190, 141);
}

/* 蹂몃궡�슜 怨듦컙 �몮�윭�떥�뒗 div�깭洹� */
#sec{ /** 珥� 665px **/
    width : 98%;
    height : 650px;
    padding : 15px 1%; /** �뿬諛� 醫� 1%, �슦 1% **/
}

/* �궗�슜�옄 Info */
#sec > aside{
    width : 40%; /** 40% **/
    height : 
;
    background-color : rgb(101, 190, 141);
    float : left;
    
}

    /* �궗�슜�옄 Info 媛먯떥�뒗 諛뺤뒪 */
    #sec > aside > #user_userInfo_box{    /** height 360px / 660px **/
        position : relative;
        width : 80%;
        height : 340px; 
        margin : 0 auto;
        margin-top : 20px;
    }

        /* �궗�슜�옄 id */
        #sec > aside > #user_userInfo_box > #user_id{ /** height 50px / 340px ( height 20px, magin 10px, padding 10px ) **/
            color : black;
            background-color : rgba(255, 255, 255, 0.8);
            width : 100%;
            height : 20px;
            margin : 0 auto;
            margin-top : 15px;
            margin-bottom : 15px;
            
            text-align : center;
            font-weight: 1000;

            overflow : hidden;
            text-overflow: ellipsis;
            white-space : nowrap;
            
            padding : 5px 0;
            
            border-radius: 7px;
        }

        /* �궗�슜�옄 Info �븞�뿉 �궗吏� */
        #sec > aside > #user_userInfo_box > #user_image{ /** height 250px / 340px **/
            width : 100%;
            height : 250px;
            margin : 0 auto;
            
            background-size: 250%;
            background-position : center center ;
            background-repeat: no-repeat;
            position : relative;
            
            border-radius: 7px;
        }

        /* �궗�슜�옄 Info �긽�깭 硫붿꽭吏� */
        #sec > aside > #user_userInfo_box > #user_state_message{ /** height 40px / 340px ( height 20px, magin 10px, padding 10px ) **/
            color : black;
            background-color : rgba(255, 255, 255, 0.8);
            width : 100%;
            height : 20px;
            margin : 0 auto;
            margin-top : 15px;
            
            text-align : center;
            font-weight: 1000;

            overflow : hidden;
            text-overflow: ellipsis;
            white-space : nowrap;
            
            padding : 5px 0;
            
            border-radius: 7px;
        }

    #sec > aside > #follow{ /* height : 90px */
        width : 80%;
        height : 60px;
        margin : 15px auto;
    }

        /* �뙏濡쒖슦 */
        #sec > aside > #follow :nth-child(1){ 
            color : rgba(255, 255, 255, 0.8);
            width : 49%;
            height : 30px;
            
            border-right-color : rgba(255, 255, 255, 0.8);
            border-right-style : solid;
            border-right-width : 1px;
            
            text-align : center;
            font-weight: 1000;
            line-height: 30px;

            overflow : hidden;
            text-overflow: ellipsis;
            white-space : nowrap;
            float : left;
        }
        /* �뙏濡쒖썙 */
        #sec > aside > #follow :nth-child(2){ 
            color : rgba(255, 255, 255, 0.8);
            width : 49%;
            height : 30px;

            text-align : center;
            font-weight: 1000;
            line-height: 30px;

            overflow : hidden;
            text-overflow: ellipsis;
            white-space : nowrap;
            float : left;
        }

        /* �궗�슜�옄 follow �긽�깭 硫붿꽭吏� */
        #sec > aside > #follow > #user_follow{ 
            color : rgba(255, 255, 255, 0.8);
            width : 49%;
            height : 30px;
            
            border-right-color : rgba(255, 255, 255, 0.8);
            border-right-style : solid;
            border-right-width : 1px;
            
            text-align : center;
            font-weight: 1000;
            line-height: 30px;

            overflow : hidden;
            text-overflow: ellipsis;
            white-space : nowrap;
            float : left;
        }

        /* �궗�슜�옄 follower �긽�깭 硫붿꽭吏� */
        #sec > aside > #follow > #user_follower{ 
            color : rgba(255, 255, 255, 0.8);
            width : 49%;
            height : 30px;
            
            text-align : center;
            font-weight: 1000;
            line-height: 30px;

            overflow : hidden;
            text-overflow: ellipsis;
            white-space : nowrap;
        }

    /* �궗�슜�옄 Info �긽�깭 硫붿꽭吏� */
    #sec > aside > #user_friend{ /** height 210px / 660px **/
        color : black;
        background-color : rgb(244, 240, 234);
        width : 80%;
        height : 190px;
        margin : 0 auto;
        margin-bottom : 20px;

        overflow-y : scroll;
        border-radius: 7px;
    }

/* �궗�슜�옄 湲� 紐⑸줉 */
section{
    width : 59%; /** 59% **/
    height : 660px;
    margin-left : 1%;
    background-color : rgb(230, 230, 230);
    float : left;
}
input:focus{
    outline: none;
}

/** 諛섏쓳�삎 �쎒!! **/
@media ( max-width: 600px ) {
	.searchBox {
	  width: 15%;
	  height: 25px;
	  position: relative;
	  padding-top: 6px;
	  margin-left: 10px;
	  float: left;
	}
	.searchButton{
		padding-left: 0px;
		width: 25px;
	}
	#searchImg{
		float: left;
	}
    #list {
    	width: 98%;
    	margin: 1%;
    }
}