
body {
	background: rgb(101, 190, 141);
}

#loginForm{
	margin-top: 8%;
	width: 260px;
	height: 232px;

}
#logo {
	width: 80px;
	height: 80px;
}
#label {
	font-size: 16px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}
input:focus {
	outline: none;
}
#id, #pw {
	border-style: none;
	border-radius: 2px;
	width: 210px;
	height: 30px;
	font-size: 15px;
	color: #545454;
	padding-left: 40px;
	margin-bottom: 3px;
}
#id {
	background-image: url('BG_id.png');
}
#pw {
	background-image: url('BG_pw.png');
}

#signUp, #login {
	border-style: none;
	width: 123px;
	height: 36px;
	margin: auto;
	text-align: center;
}

/** CSS 버튼 효과 **/
.wrap {
    text-align: center;
    width: 123px;
}

input.button {
	width: 100%;
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: transparent;
    border-style: none;

    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgba(244, 240, 234);
    box-shadow: rgba(244, 240, 234, 0.8) 0 0px 0px 2px inset;
}

input.button:hover {
    color: rgba(101, 183, 137, 0.85);
    box-shadow: rgba(244, 240, 234, 0.9) 0 0px 0px 40px inset;
}